<div id="BioPic" style="float:left; width: 155px ; height: 155px; margin-top: 5px; margin-right: 10px;">
	<%= image_tag("me.jpg", :style => 
		"-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 2px solid #616f6f;" ) %>
</div>
<h2 style="margin-top: 5px; margin-bottom: 0px; font-size: 22px; text-align: right; padding-right: 1px;">Stephen Barnes</h2>
<h3 style="padding: 1px; margin-top: -5px; font: normal 18px Verdana, sans-serif; text-align: right;">Computer Engineer and Digital Artist</h3>

<p>This website is a glimpse into the things that are a dominant aspect of my life: computers, programming, art, and games.</p>

<p>I enjoy designing and creating in all of its forms.  I believe that Engineering is the practical application of art and design to a specific field.  It is my desire to combine these aspects to create quality products in the Computing and Art fields.</p>

<p></p>

<h2>Influential Games</h2>
	<h3>PC</h3>
		<p>Shattered Galaxy, Dawn of War, Counterstrike, Homeworld, Rise of Nations, World of Warcraft, Lego Star Wars, Company of Heroes, Planetside.</p>
	<h3>Console</h3>
		<p>Halo series, Knights of the Old Republic, Armored Core series, Super Smash Brothers series, Wii Sports, Mass Effect.</p>
			
<h2>Influential Artists and Inspirations</h2>
	<p>Prometheus ANJ, Sparth, Craig Mullins, Rob C, The entire Sijun and ConceptArt forums, Mike Krahulik, Michaelangelo, Feng Zhu, Gutz, Vyle, Andrew Wallin, P-Rik.</p>
