<% form_for :user, :url => {:action => "update", :id => @user } do |f| -%>

	<p><label for="password">E-Mail</label><br/>
	<%= f.text_field :email %></p>
	
	<p><%= submit_tag 'Change' %></p>
	
<% end -%>
