<% form_for :user, :url => {:action => "update", :id => @user } do |f| -%>

	<p><label for="password">New Password</label><br/>
	<%= f.password_field :password %></p>
	
	<p><label for="password_confirmation">New Password Confirmation</label><br/>
	<%= f.password_field :password_confirmation %></p>
	
	<p><%= submit_tag 'Change' %></p>
	
<% end -%>
